.app_nav {
    /* position: fixed; */
    /* position: sticky; */
    z-index: 177;
  
    /* left: 24rem; */
    width: max-content;
    height: 4rem;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    margin: 32px auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
    border-radius: 50px
}

.app_logo {
    /* position: absolute; */
    /* width: 28px; */
    display: flex;
    height: 33px;
    /* width: 100%; */
    /* left: 365px; */
    /* top: 44px; */
    margin: auto 20px;
    /* background: white; */
    background: #ffffff;
}
.logo{
    background: white;
}
.logo:hover{
    cursor: auto;

}

.logo_name {
    background: white;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    /* width: 100%; */
    margin: 0px 12px;
    /* margin-left: 1rem; */
    color: #090909;
    
}
.logo_name a{
    color: #090909;
    text-decoration: none;
    background: white;
    

}
.logo_name a:hover{
    color: #000000;
    cursor: default;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
    width: max-content;
    margin: auto 4rem;
}

.nav_content ul {
    display: flex;
    /* text-decoration: none; */
    justify-content: space-between;
    /* width: 70vh; */
    background: white;

}

.nav_content ul li {
    display: flex;
    justify-content: space-between;
    /* text-decoration: none; */
    background: white;


}

.nav_content ul li a {
    justify-content: space-between;
    /* margin: 0rem 2rem; */
    
    text-decoration: none !important;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-self: center;
    align-self: center;
    /* background-color: match-parent; */
    /* color: rgba(9, 9, 9, 0.5) !important; */
    /* line-height: 20px; */
}
.li_main{
    color: rgba(9, 9, 9, 0.5) !important;
    background-color: white !important;
    /* display: none !important ; */
    text-decoration: none !important;

}

.nav_content ul li a:active {
    font-weight: 600;
    color: #000000;
    opacity: 1;
}

.nav_btn {
    background:none;
    /* margin: auto; */
    /* margin-left: 2rem; */
}

.in_btn {
    /* background: rgb(176, 37, 37); */
    /* margin: 0rem -6.7rem; */
    width: 134px;
    height: 36px;
    background: #FF8C15;
    border-radius: 50px;
    border: 0;
}



.link_btn {
    background: #FF8C15;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
}


.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b_name {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    background: #F6F6F6;
    color: rgba(9, 9, 9, 0.5);
    margin-top: 13.5rem;
}

.h_body {
    width: 996px;
    height: 142px;
    margin-top: 1rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 71px;
    text-align: center;

    color: #000000;

}


.mainimg {
    margin-top: 3rem;
    width: 100%;
}


.main_content {
    display: flex;
    margin-top: 9rem;
}


span{
    background-color: #fff;
    color: #000000;
    font-weight: bolder;
}
.ThePage{
    margin-top: 6rem;
    /* display: none; */
}

.h2getintouch{
    /* display: ; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: #F6F6F6;
    align-items: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    /* margin: 1rem; */
}

.Nameandsub{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
label{
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-family: 'Outfit';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-style: normal;
}
.inputfield1n2{
    width: 19rem;
    margin-left: 2rem;
    border: none;
    background-color: #fff;
    padding: 1rem;
    /* margin: 2rem; */
}
.inputfield3{
    border: none;
    margin-left: 2rem;
    background-color: #fff;
    padding: 1rem;
    /* margin: 2rem; */
    width: 43.5rem;
    height: 12rem;
}
.Message{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
form{
    background-color: #F6F6F6;
    width: 100%
    ;
}
.labeltext{
    /* color: red;
     */
     background-color: #F6F6F6;
     display: flex;
     /* justify-content: flex-start; */
     margin-left: 2rem;
     margin-right: 2rem;
}
.submit_btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-left: 11rem;
    margin-right: 11rem;
}